footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 3100px;
    height:200px;
    color: white;
    background-color: #111;
    text-align: center;

    .footer-heading {
        font: font(title);
        font-size: 60px;
        position: absolute;
        left: 20px;
        top: 40px;
    }

    .copyright-text {
        width: 200px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -100px;
    }

    .developer-info {

        a {
            text-decoration: none;
            color: rgb(235, 235, 235);
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;
            color: rgb(230, 185, 185);
        }
    }

    .developer-info,
    .developer-contact {
        position: absolute;
        top: 30px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }

    .developer-contact {
        margin-top: 30px;
        line-height: 20px; 
    }

    .social-ul-footer {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 40px;

        li {
            display: inline-block;
            margin-right: 10px;

            a{
                color: white;
            }

            span{
                height: 28px;
                width: 28px;
                display: inline-block;

                img{
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }
}