.gallery-section{
    position: absolute;
    top: 1700px;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: color(grey);

    h1{
        font: font(primary);
        margin-top: 30px;
    }

    span{
        font: font(tagline);
        color: color(green);
    }

    .gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 30px;
        box-sizing: border-box;
    }

    .gallery-img-container{
        height: 300px;
        overflow: hidden;
        position: relative;

        img{
            height: 300px;
            width: 421px;
            background-size: 100% 100%;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            background-color: #000;
        }

        .overlay:hover {
            opacity: 0.8;
        }
    }


}