@media(max-width: 1070px) {

    .jumbo {

        h1.wlcm-txt {
            font-size: 55px;
        }
         
    }

    ul.social-ul {
        display: none;
    }

    nav {
        position: absolute;
        right: 20px;
        height: 60px;
        top: 50%;
        padding-top: 5px;
    }

    #title {
        padding-left: 50px;
    }
}

@media(max-width: 930px) {
    .jumbo {

        .wlcm-txt {
            top: 100px;
            left: 60px;
        }
    }
}

@media (max-width: 730px) {
    .about-div {
        .about {
            top: 320px;
        }
        span {
            top: 385px;
        }
        p {
            width: 40%;
            top: 420px;
            font-size: 14px;
        }
        .about-para-2 {
            font-size: 14px;
        }
        .about-img-section {
            top: 600px;
        }
    }

    .about-img-section {
        top: 650px;
        .about-img-2 {
            flex:0;
        }
    }
    .about-para-2,
    .about-div p {
        width: 40%;
        height: 50%;
        margin-bottom: 20px;
    }
    
}

@media(max-width: 680px) {
    header>{
        nav {
            display: none;
        }
        #title {
            position: absolute;
            left: 50%;
            margin-left: -100px;
        }
    }
    .jumbo {
        h1.wlcm-txt {
            font-size: 50px;
        }
    }
}

@media(max-width: 590px) {
    .jumbo {
        h1.wlcm-txt {
            font-size: 45px;
            top: 80px;
            left: 40px;
        }
        a>.take-a-look {
            top: 100%;
            width: 200px;
            font-size: 20px;
        }
    }  
}

@media(max-width: 450px) {
    .jumbo {
        h1.wlcm-txt {
            top: 70px;
            left: 20px;
        }
    }
}