@media(max-width: 1070px) {

    .jumbo {

        h1.wlcm-txt {
            font-size: 55px;
        }
         
    }

    ul.social-ul {
        display: none;
    }

    nav {
        position: absolute;
        right: 20px;
        height: 60px;
        top: 50%;
        padding-top: 5px;
    }

    #title {
        padding-left: 50px;
    }
}

@media(max-width: 930px) {
    .jumbo {
        .wlcm-txt {
            top: 120px;
            left: 80px;
        }
    }

    .contact-section>.contact-div {
        width: 600px;
        height: 500px;
        position: absolute;
        left: 50%;
        margin-left: -300px;

        form {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-rows: 40px 40px 250px;
            grid-gap: 20px;
            position: relative;
            margin-top: 20px;

            #fname,
            #lname {
                grid-column-start: 1;
                grid-column-end: 1;
                margin: 0;
                margin-left: 25%;
            }
            #message {
                width: 400px;
                margin-left: 15%;
                margin-top: 10px;
            }
            .book-now {
                position: absolute;
                top: 425px;
                margin-top: -10px;
            }
        }
    }
}

@media (max-width: 730px) {
    .jumbo {
        .wlcm-txt {
            top: 100px;
            left: 60px;
        }
    }
    .about-div {
        .about {
            top: 320px;
        }
        span {
            top: 385px;
        }
        p {
            width: 40%;
            top: 420px;
            font-size: 14px;
        }
        .about-img-section {
            top: 600px;
        }
    }

    .about-img-section {
        top: 650px;
        .about-img-2 {
            flex:0;
        }
    }
    .about-para-2,
    .about-div p {
        width: 40%;
        height: 50%;
        margin-bottom: 20px;
    }
    .testimonials-section {
        display: none;
    }

    .gallery-section {
        top: 1220px;

        .gallery-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 30px;
        }
    }
    .contact-section {
        top: 2250px;
        padding: 0;
    }

    footer {
        top: 3000px;
    }
}

@media(max-width: 680px) {
    header>{
        nav {
            display: none;
        }
        #title {
            position: absolute;
            left: 50%;
            margin-left: -100px;
        }
    }
    .jumbo {
        h1.wlcm-txt {
            font-size: 50px;
        }
    }
}

@media(max-width: 590px) {
    .jumbo {
        h1.wlcm-txt {
            font-size: 45px;
            top: 90px;
            left: 40px;
        }
    }
    .about-div {
  
        .about {
            top: 420px;
        }
        span {
            top: 475px;
        }
        p {
            top: 520px;
        }
        
    }
    .about-img-section {
        top: 840px;
    }
    footer {
        height: 300px;

        .developer-info,
        .developer-contact {
            top: 150px;
        }
    }
}

@media(max-width: 450px) {
    .jumbo {
        h1.wlcm-txt {
            top: 70px;
            left: 20px;
        }
    }
}