header{
    height: 60px;
    background-color: #fff;

    #title{

        font: font(title);
        display: inline-block;
        width: 33%;
        
        a{
        color: #000;
        text-decoration: none;
        }

        h1{
        padding-top: 10px;
        padding-left: 20px;
        }
    }

    nav{
        display: inline-block;
        position: absolute;
        top: 20px;
        // height: 34px;
        // line-height: 34px;

        ul{
            cursor: pointer;
            display: inline-block;
            

            li{

                display: inline-block;
                margin-right: 10px;

                a{
                    color: black;
                }

                span{
                    height: 18px;
                    width: 18px;
                    display: inline-block;

                    img{
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }


        .social-ul{
            margin-left: 150px;

            li{
                margin-right: 20px;
            }
        }
    }
}