.testimonials-section{
    position: absolute;
    padding-top: 60px;
    top: 1100px;
    width: 100%;
    height: 600px;
    background-color: color(grey);
    text-align: center;
}

.testimonials-bg{
    background: url(/assets/img/TESTIMONIALS_BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
    width: 100%;
    position: absolute;
    // opacity: 0.5;
}

.slider-container{
    
    .slides{
        display: none;
        width: 500px;
        height: 300px;
        background-color: #fff;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -250PX;

        .avatar-name{
            margin-top: 30px;
        }

        .avatar-name,
        .avatar-info,
        .testimonial {
            margin-top: 20px;
        }
        .avatar-div {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 10px auto 10px 200px;

            img{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center top;
                border-radius: 50%;
            }
        }
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 350px;
    width: 20PX;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left: 0;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-div {
    display: block;
    position: absolute;
    top: 625px; 
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    user-select: none;
    
    .dot:hover {
        background-color: #757575;
    }

    #active{
        background-color: #4d4d4d;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 4px;
        background-color: #f4f4f4;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
  }