@import 'modules/variables';
@import './modules/functions';
@import './modules/nav';


// CSS Starts Here Actually

// Common/Global

* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body, 
html {
    margin: 0;
    padding: 0;
}



.jumbo {
    clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
    background-color: color(orange);
    width: 100%;
    height: 500px;
    background: url(/assets/img/food-salad.jpg);
    background-size: cover;
    background-position: center top;

    h1 {
        position: absolute;
        top: 150px;
        left: 150px;
        font: (font(marker));
        color: color(maroon);
        letter-spacing: 3px;
    }
}

a{
        text-decoration: none;
        

        .btn {
            text-align: center;
            background-color: color(btn);
            position: absolute;
            top: 450px;
            left: 150px;
            height: 60px;
            width: 300px;
            border: 0;
            border-radius: 30px;
            z-index: 10;
            color:#fff;
            font: font(btn-text);
            letter-spacing: 2px;
            cursor: pointer;
        }
  }

.about-div {
    .about {
        font : font(h1);
        position: absolute;
        top: 280px;
        right: 40px;
    }
    
    span {
        position: absolute;
        top: 345px;
        right: 40px;
        font: font(tagline);
        color: #00A00B;
    }

    p {
        font: font(secondary);
        text-align: right;
        position: absolute;
        top: 400px;
        right: 20px;
        width: 50%; 
    }
}

.about-para-2 {
    margin-top: 60px;
    font: font(secondary);
    text-align: left;
    width: 50%;
    position: absolute;
    left: 20px;
}

section.about-img-section {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
    display: flex;
    position: absolute;
    top: 600px;
    width: 100%;
    background-color: color(orange);
    height: 500px;

    .about-img {
        flex: 1;
    }

    .about-img-1{
        background: url(/assets/img/food-img-01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .about-img-2{
        background: url(/assets/img/food-img-02.jpeg);
        background-size: cover;
        background-position: top;
    }

    .about-img-3{
        background: url(/assets/img/food-img-03.jpg);
        background-size: auto;
        background-position: center;
    }
}

