@import 'modules/variables';
@import './modules/functions';
@import './modules/nav';
@import './modules/about';
@import './modules/testimonials';
@import './modules/gallery';


// CSS Starts Here Actually

// Common/Global

* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}


body, 
html {
    margin: 0;
    padding: 0;
    user-select: none;
}



.jumbo {
    clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
    background-color: color(orange);
    width: 100%;
    height: 500px;
    background: url(/assets/img/food-salad.jpg);
    background-size: cover;
    background-position: center top;

    h1 {
        position: absolute;
        top: 150px;
        left: 150px;
        font: (font(marker));
        color: color(maroon);
        letter-spacing: 3px;
    }
}

a{
        text-decoration: none;
        border-radius: 30px;
        

        .btn {
            background-color: color(btn);
            position: absolute;
            top: 450px;
            left: 150px;
            height: 60px;
            width: 300px;
            border: 0;
            border-radius: 30px;
            color:#fff;
            font: font(btn-text);
            letter-spacing: 2px;
            cursor: pointer;
        }
  }


