@import 'modules/variables';
@import './modules/functions';
@import './modules/nav';


// CSS Starts Here Actually

// Common/Global

* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}


body, 
html {
    margin: 0;
    padding: 0;
    user-select: none;
}



.jumbo {
    clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
    background-color: color(orange);
    width: 100%;
    height: 500px;
    background: url(/assets/img/food-salad.jpg);
    background-size: cover;
    background-position: center top;

    h1 {
        position: absolute;
        top: 150px;
        left: 150px;
        font: (font(marker));
        color: color(maroon);
        letter-spacing: 3px;
    }
}

a{
        text-decoration: none;
        border-radius: 30px;
        

        .btn {
            background-color: color(btn);
            position: absolute;
            top: 450px;
            left: 150px;
            height: 60px;
            width: 300px;
            border: 0;
            border-radius: 30px;
            color:#fff;
            font: font(btn-text);
            letter-spacing: 2px;
            cursor: pointer;
        }
  }

.about-div {

    .about {
        font : font(h1);
        position: absolute;
        top: 280px;
        right: 40px;
    }
    
    span {
        position: absolute;
        top: 345px;
        right: 40px;
        font: font(tagline);
        color: #00A00B;
    }

    p {
        font: font(secondary);
        text-align: right;
        position: absolute;
        top: 400px;
        right: 20px;
        width: 50%; 
    }
}

.about-para-2 {
    margin-top: 60px;
    font: font(secondary);
    text-align: left;
    width: 50%;
    position: absolute;
    left: 20px;
}

section.about-img-section {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
    display: flex;
    position: absolute;
    top: 600px;
    width: 100%;
    background-color: color(orange);
    height: 500px;

    .about-img {
        flex: 1;
    }

    .about-img-1{
        background: url(/assets/img/food-img-01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .about-img-2{
        background: url(/assets/img/food-img-02.jpeg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .about-img-3{
        background: url(/assets/img/food-img-03.jpg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.testimonials-section{
    position: absolute;
    padding-top: 60px;
    top: 1100px;
    width: 100%;
    height: 600px;
    background-color: color(grey);
    text-align: center;
}

.testimonials-bg{
    background: url(/assets/img/TESTIMONIALS_BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
    width: 100%;
    position: absolute;
    // opacity: 0.5;
}

.slider-container{
    // padding: 20px 20px 0 20px;
    
    .slides{
        display: none;
        width: 500px;
        height: 300px;
        background-color: #fff;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -250PX;

        .avatar-name{
            margin-top: 30px;
        }

        .avatar-name,
        .avatar-info,
        .testimonial {
            margin-top: 20px;
        }
        .avatar-div {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 10px auto 10px 200px;

            img{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center top;
                border-radius: 50%;
            }
        }
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 350px;
    width: 20PX;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left: 0;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot-div {
    display: block;
    position: absolute;
    top: 625px; 
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    user-select: none;
    
    .dot:hover {
        background-color: #757575;
    }

    #active{
        background-color: #4d4d4d;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 4px;
        background-color: #f4f4f4;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
  }



