@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=B612+Mono");
@import url("https://fonts.googleapis.com/css?family=Allura");
header {
  height: 60px;
  background-color: #fff;
}

header #title {
  font: 20px "Ubuntu", sans-serif;
  display: inline-block;
  width: 33%;
}

header #title a {
  color: #000;
  text-decoration: none;
}

header #title h1 {
  padding-top: 10px;
  padding-left: 20px;
}

header nav {
  display: inline-block;
  position: absolute;
  top: 20px;
}

header nav ul {
  cursor: pointer;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: black;
}

header nav ul li span {
  height: 18px;
  width: 18px;
  display: inline-block;
}

header nav ul li span img {
  height: 18px;
  width: 18px;
}

header nav .social-ul {
  margin-left: 150px;
}

header nav .social-ul li {
  margin-right: 20px;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.jumbo {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
  background-color: #FF3300;
  width: 100%;
  height: 500px;
  background: url(/assets/img/food-salad.jpg);
  background-size: cover;
  background-position: center top;
}

.jumbo h1 {
  position: absolute;
  top: 150px;
  left: 150px;
  font: 60px "Permanent Marker", cursive;
  color: #410707;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  border-radius: 30px;
}

a .btn {
  background-color: #D32F2F;
  position: absolute;
  top: 450px;
  left: 150px;
  height: 60px;
  width: 300px;
  border: 0;
  border-radius: 30px;
  color: #fff;
  font: small-caps 30px "B612 Mono", monospace;
  letter-spacing: 2px;
  cursor: pointer;
}

.about-div .about {
  font: 40px Arial;
  position: absolute;
  top: 280px;
  right: 40px;
}

.about-div span {
  position: absolute;
  top: 345px;
  right: 40px;
  font: 30px "Allura", cursive;
  color: #00A00B;
}

.about-div p {
  font: italic small-caps normal 18px/150% Arial, Helvetica, sans-serif;
  text-align: right;
  position: absolute;
  top: 400px;
  right: 20px;
  width: 50%;
}

.about-para-2 {
  margin-top: 60px;
  font: italic small-caps normal 18px/150% Arial, Helvetica, sans-serif;
  text-align: left;
  width: 50%;
  position: absolute;
  left: 20px;
}

section.about-img-section {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 600px;
  width: 100%;
  background-color: #FF3300;
  height: 500px;
}

section.about-img-section .about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.about-img-section .about-img-1 {
  background: url(/assets/img/food-img-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

section.about-img-section .about-img-2 {
  background: url(/assets/img/food-img-02.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

section.about-img-section .about-img-3 {
  background: url(/assets/img/food-img-03.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonials-section {
  position: absolute;
  padding-top: 60px;
  top: 1100px;
  width: 100%;
  height: 600px;
  background-color: #C4C4C4;
  text-align: center;
}

.testimonials-bg {
  background: url(/assets/img/TESTIMONIALS_BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 600px;
  width: 100%;
  position: absolute;
}

.slider-container .slides {
  display: none;
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -250PX;
}

.slider-container .slides .avatar-name {
  margin-top: 30px;
}

.slider-container .slides .avatar-name,
.slider-container .slides .avatar-info,
.slider-container .slides .testimonial {
  margin-top: 20px;
}

.slider-container .slides .avatar-div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px auto 10px 200px;
}

.slider-container .slides .avatar-div img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 50%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 350px;
  width: 20PX;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-div {
  display: block;
  position: absolute;
  top: 625px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dot-div .dot:hover {
  background-color: #757575;
}

.dot-div #active {
  background-color: #4d4d4d;
}

.dot-div .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
/*# sourceMappingURL=style.css.map */