@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=B612+Mono");
@import url("https://fonts.googleapis.com/css?family=Allura");
header {
  height: 60px;
  position: relative;
}

header #title {
  font: 20px "Ubuntu", sans-serif;
  font-size: 45px;
  display: inline-block;
  width: 400px;
}

header #title a {
  color: #000;
  text-decoration: none;
}

header #title h1 {
  padding-top: 1px;
  padding-left: 20px;
}

header nav {
  display: inline-block;
  position: absolute;
  height: 60px;
  top: 50%;
  margin-top: -10px;
}

header nav ul {
  cursor: pointer;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: black;
}

header nav ul li span {
  height: 18px;
  width: 18px;
  display: inline-block;
}

header nav ul li span img {
  height: 18px;
  width: 18px;
}

header nav .social-ul {
  margin-left: 150px;
}

header nav .social-ul li {
  margin-right: 20px;
}

.about-div .about {
  font: 40px Arial;
  position: absolute;
  top: 280px;
  right: 40px;
}

.about-div span {
  position: absolute;
  top: 345px;
  right: 40px;
  font: 30px "Allura", cursive;
  color: #00A00B;
}

.about-div p {
  font: italic small-caps normal 16px/150% Arial, Helvetica, sans-serif;
  text-align: right;
  position: absolute;
  top: 400px;
  right: 20px;
  width: 50%;
}

.about-para-2 {
  font: italic small-caps normal 16px/150% Arial, Helvetica, sans-serif;
  text-align: left;
  width: 50%;
  position: absolute;
  left: 20px;
}

.about-img-section {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 550px;
  width: 100%;
  height: 500px;
}

.about-img-section .about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-img-section .about-img-1 {
  background: url("/assets/img/food-img-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.about-img-section .about-img-2 {
  background: url("/assets/img/food-img-02.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.about-img-section .about-img-3 {
  background: url("/assets/img/food-img-03.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonials-section {
  position: absolute;
  padding-top: 60px;
  top: 1000px;
  width: 100%;
  height: 600px;
  background-color: #d4d4d4;
  text-align: center;
}

.testimonials-bg {
  background: url(/assets/img/TESTIMONIALS_BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 600px;
  width: 100%;
  position: absolute;
  opacity: 0.8;
}

.slider-container .slides {
  display: none;
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -250PX;
}

.slider-container .slides .avatar-name {
  margin-top: 30px;
}

.slider-container .slides .avatar-name,
.slider-container .slides .avatar-info,
.slider-container .slides .testimonial {
  margin-top: 20px;
}

.slider-container .slides .avatar-div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px auto 10px 200px;
}

.slider-container .slides .avatar-div img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 50%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 350px;
  width: 20PX;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-div {
  display: block;
  position: absolute;
  top: 625px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dot-div .dot:hover {
  background-color: #757575;
}

.dot-div #active {
  background-color: #4d4d4d;
}

.dot-div .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.gallery-section {
  position: absolute;
  top: 1600px;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #d4d4d4;
}

.gallery-section h1 {
  font: 40px Arial;
  margin-top: 30px;
}

.gallery-section span {
  font: 30px "Allura", cursive;
  color: #00A00B;
}

.gallery-section .gallery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin-top: 30px;
}

.gallery-section .gallery-img-container {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.gallery-section .gallery-img-container img {
  height: 100%;
  width: 100%;
}

.gallery-section .gallery-img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000;
  color: #fff;
  font-size: 50px;
  line-height: 300px;
  font-weight: 1000;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.gallery-section .gallery-img-container .overlay:hover {
  opacity: 0.8;
}

.contact-section {
  position: absolute;
  top: 2325px;
  width: 100%;
  height: 800px;
  text-align: center;
  background-color: #d4d4d4;
}

.contact-section .contact-heading {
  font: 40px Arial;
  margin-top: 30px;
}

.contact-section span {
  font: 30px "Allura", cursive;
  color: #00A00B;
}

.contact-section .contact-div {
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  height: auto;
  background-color: #fff;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.contact-section .contact-div form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 80px 250px;
      grid-template-rows: 80px 250px;
  grid-row-gap: 60px;
  text-align: center;
}

.contact-section .contact-div form #fname,
.contact-section .contact-div form #lname {
  width: 300px;
  border: 0.5px solid #000;
  margin-left: 20px;
  margin-top: 40px;
}

.contact-section .contact-div form #fname::-webkit-input-placeholder,
.contact-section .contact-div form #lname::-webkit-input-placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #fname:-ms-input-placeholder,
.contact-section .contact-div form #lname:-ms-input-placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #fname::-ms-input-placeholder,
.contact-section .contact-div form #lname::-ms-input-placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #fname::placeholder,
.contact-section .contact-div form #lname::placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #message {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  border: 0.5px solid #000;
  height: 250px;
  width: 600px;
  margin-left: 20px;
  margin-top: -10px;
}

.contact-section .contact-div form #message::-webkit-input-placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #message:-ms-input-placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #message::-ms-input-placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form #message::placeholder {
  padding-left: 20px;
}

.contact-section .contact-div form .book-now {
  position: absolute;
  width: 200px;
  font-size: 25px;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 3100px;
  height: 200px;
  color: white;
  background-color: #111;
  text-align: center;
}

footer .footer-heading {
  font: 20px "Ubuntu", sans-serif;
  font-size: 60px;
  position: absolute;
  left: 20px;
  top: 40px;
}

footer .copyright-text {
  width: 200px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
}

footer .developer-info a {
  text-decoration: none;
  color: #ebebeb;
  cursor: pointer;
}

footer .developer-info a:hover {
  text-decoration: underline;
  color: #e6b9b9;
}

footer .developer-info,
footer .developer-contact {
  position: absolute;
  top: 30px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
}

footer .developer-contact {
  margin-top: 30px;
  line-height: 20px;
}

footer .social-ul-footer {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 40px;
}

footer .social-ul-footer li {
  display: inline-block;
  margin-right: 10px;
}

footer .social-ul-footer li a {
  color: white;
}

footer .social-ul-footer li span {
  height: 28px;
  width: 28px;
  display: inline-block;
}

footer .social-ul-footer li span img {
  height: 28px;
  width: 28px;
}

@media (max-width: 1070px) {
  .jumbo h1.wlcm-txt {
    font-size: 55px;
  }
  ul.social-ul {
    display: none;
  }
  nav {
    position: absolute;
    right: 20px;
    height: 60px;
    top: 50%;
    padding-top: 5px;
  }
  #title {
    padding-left: 50px;
  }
}

@media (max-width: 930px) {
  .jumbo .wlcm-txt {
    top: 120px;
    left: 80px;
  }
  .contact-section > .contact-div {
    width: 600px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
  }
  .contact-section > .contact-div form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-rows: 40px 40px 250px;
        grid-template-rows: 40px 40px 250px;
    grid-gap: 20px;
    position: relative;
    margin-top: 20px;
  }
  .contact-section > .contact-div form #fname,
  .contact-section > .contact-div form #lname {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
    margin-left: 25%;
  }
  .contact-section > .contact-div form #message {
    width: 400px;
    margin-left: 15%;
    margin-top: 10px;
  }
  .contact-section > .contact-div form .book-now {
    position: absolute;
    top: 425px;
    margin-top: -10px;
  }
}

@media (max-width: 730px) {
  .jumbo .wlcm-txt {
    top: 100px;
    left: 60px;
  }
  .about-div .about {
    top: 320px;
  }
  .about-div span {
    top: 385px;
  }
  .about-div p {
    width: 40%;
    top: 420px;
    font-size: 14px;
  }
  .about-div .about-img-section {
    top: 600px;
  }
  .about-img-section {
    top: 650px;
  }
  .about-img-section .about-img-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .about-para-2,
  .about-div p {
    width: 40%;
    height: 50%;
    margin-bottom: 20px;
  }
  .testimonials-section {
    display: none;
  }
  .gallery-section {
    top: 1220px;
  }
  .gallery-section .gallery-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-top: 30px;
  }
  .contact-section {
    top: 2250px;
    padding: 0;
  }
  footer {
    top: 3000px;
  }
}

@media (max-width: 680px) {
  header > nav {
    display: none;
  }
  header > #title {
    position: absolute;
    left: 50%;
    margin-left: -100px;
  }
  .jumbo h1.wlcm-txt {
    font-size: 50px;
  }
}

@media (max-width: 590px) {
  .jumbo h1.wlcm-txt {
    font-size: 45px;
    top: 90px;
    left: 40px;
  }
  .about-div .about {
    top: 420px;
  }
  .about-div span {
    top: 475px;
  }
  .about-div p {
    top: 520px;
  }
  .about-img-section {
    top: 840px;
  }
  footer {
    height: 300px;
  }
  footer .developer-info,
  footer .developer-contact {
    top: 150px;
  }
}

@media (max-width: 450px) {
  .jumbo h1.wlcm-txt {
    top: 70px;
    left: 20px;
  }
  .contact-section > .contact-div > form > #message {
    width: 300px;
    margin-left: 24%;
  }
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #D32F2F;
  border: 0;
  border-radius: 30px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  font: small-caps 30px "B612 Mono", monospace;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

.jumbo {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 21%, 0 96%);
  width: 100%;
  height: 500px;
  background: url("/assets/img/food-salad.jpg");
  background-size: cover;
  background-position: center top;
}

.jumbo h1 {
  position: absolute;
  top: 150px;
  left: 150px;
  font: 60px "Permanent Marker", cursive;
  color: #410707;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  border-radius: 30px;
}

a .take-a-look {
  position: absolute;
  top: 430px;
  left: 25%;
  margin-left: -150px;
  height: 60px;
  width: 300px;
  font: small-caps 30px "B612 Mono", monospace;
}

@media (max-width: 730px) {
  a > .take-a-look {
    position: absolute;
    top: 400px;
    width: 250px;
    left: 30%;
  }
  .about-para-2 {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  a > .take-a-look {
    position: absolute;
    top: 340px;
    width: 250px;
    left: 30%;
  }
}

@media (max-width: 530px) {
  a > .take-a-look {
    position: absolute;
    top: 340px;
    width: 225px;
    left: 50%;
  }
}
/*# sourceMappingURL=style.css.map */